/ TO jeszcze do dopracowania
.hero-unit
  %h2
    Witaj w serwisie
  %h1
    :erb
      tablica.in<span class="ternetowa">ternetowa</span>
  %h2 Ogłoszenia dedykowane społecznościom lokalnym.
  %br
  = link_to "Dowiedz się więcej", root_path, :class=>"btn primary large pull-right"

  -# = render @ads
-# przenieś do _ad.html.haml

%h2 Promowane ogłoszenia
- if @ads.empty?
  brak ogłoszeń w bazie
- else
  %table.zebra-striped
    %tr
      %th ogłoszenie
      %th popularność
    - @ads.each do |ad|
      %tr
        %td=ad.title
        %td=ad.display_counter

- content_for :content_menu do
  = link_to "Dodaj ogłoszenie", new_ad_path
  = link_to "Kategorie", categories_path

