// Ustawienie Tweeter Bootstrao
$gridColumns: 16
$gridColumnWidth: 73px
$gridGutterWidth: 3px
@import bootstrap

@import colors
@import mixins
@import simple_form
@import nested_categories
@import ads


body
  padding-top: 50px
  background: $primary_color url('http://dbooom.com/themes/html/manifest/images/body-bg.gif')
  font:
    family: Helvetica, Arial
    size: 14px

a
  color: $link_color  
  img
    border: none

h1
  color: #6C8A4A
  font:
    size: 32px
    
.clear
  clear: both
  height: 0
  overflow: hidden
 
#content
  padding: 10px 10px 50px 10px
  background: white
  @include radius 
  @include shadow
  margin: 0 0 20px 5px
 

#sidebar
  a
    :display inline-block
    :text-align center
    :padding 10px 10px
    :margin 5px 1px
    :background-color $menu_color
    @include radius
    :color white
    :text-decoration none
    &:hover
      :cursor pointer
      :background-color darken($menu_color, 10%)
    
.black_mamba
  display: none
  opacity: 0.4
  filter: alpha(opacity=40)
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 80
  background: black

.alert-message
  text-align: center