-if @category.parent
  - title "#{@category.parent.name} >> Dodaj kategorię"
-else
  - title "Nowa kategoria główna"

= render 'form'

- content_for :content_menu do
  = link_to t(:back), categories_path
